{% extends 'base.html' %}
{% load static%}
{% block title %}
    Anasayfa - {{ block.super }}
{% endblock %}

{% block body %}
{% include 'header.html' %}

  <style>
    .container {
      max-width: 800px;
      margin: auto;
      background: #fff;
      margin-top: 30px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    p {
      margin-bottom: 1.5rem;
    }
  </style>
  <div class="container">
    <h1>Introduction to ACWR (Acute Chronic Workload Ratio)</h1>
    <p>
      ACWR is a ratio used in sports science to monitor the balance between the short-term (acute) and long-term (chronic) workload of athletes.
    </p>
    <p>
      The acute workload refers to the recent training load, typically measured over a one-week period. On the other hand, the chronic workload represents the longer-term average training load, often measured over a four-week period.
    </p>
    <p>
      By comparing the acute workload to the chronic workload, coaches and sports scientists can assess whether athletes are at risk of overtraining (when acute workload is significantly higher than chronic workload) or undertraining (when acute workload is significantly lower than chronic workload).
    </p>
    <p>
      Our platform provides tools to calculate and analyze ACWR, helping coaches and athletes make informed decisions about training and recovery strategies.
    </p>
      <p>It's currently <b>FREE</b> for early adopters</p><a href="{% url 'signup' %}" class="btn btn-dark">Get Started</a>
</div>
<p></p>

{% endblock %}


