{% extends 'base.html' %}
{% load static%}
{% block title %}
    Anasayfa - {{ block.super }}
{% endblock %}

{% block body %}
{% include 'header.html' %}
<div class="content-main container-fluid">

    <table border="1">
        <thead>
            <tr>
                {% for column in excel_data.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in excel_data.iterrows %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}


